API_KEY=5b42f2318b518374c8a02863069c933e
MONGO_URI=mongodb://localhost:27017/weatherMonitor
PORT=5000
ALERT_THRESHOLD=35
ALERT_CONSECUTIVE_UPDATES=1
UPDATE_INTERVAL=5

EMAIL=''
EMAIL_PASSWORD=''
ALERT_EMAIL=''
